# Server Port
PORT=8080

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:Dinesh007%40@localhost:5432/draftwork_db?schema=public"


# Founder Email (Recipient of Inquiry Notifications)
FOUNDER_EMAIL="draftwork30@gmail.com"


# Brevo API
BREVO_API_KEY="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"